## Declarações e imports

In [1]:
import pandas, sqlalchemy, numpy
import xml.etree.cElementTree as et

### Funções de tratamento

In [2]:
def tratamentoTelefone(telefone):
    intab = '()- '
    outtab = '    '
    transtab = str.maketrans(intab,outtab)
    return '+55'+str(telefone).translate(transtab).replace(' ','') 

def tratamentoValor(valor):
    x = lambda x: 'R$ {:.2f}'.format(float(x)).replace('.',',')
    intab = 'R$Ss'
    outtab = '    '
    transtab = str.maketrans(intab,outtab)
    return (x(valor) if str(valor).isdigit() else x(str(valor).translate(transtab).replace(',','.')))

def validaCastNumerico(valor):
    intab = 'R$Ss-'
    outtab = '     '
    transtab = str.maketrans(intab,outtab)
    valor = str(valor).replace(',','.')
    valor.translate(transtab)
    return (float(valor) if valor.isdigit() else 0)

## Não houve campo algum de data para converter para DateTime, contudo seria apenas usar 
## dataframe['campo'] = dataframe['campo'].apply(lambda x: pd.to_datetime(x))

defaultColumns = ['id','name','email','phone','value','discount', 'valor_com_desconto']

## Import do primeiro arquivo
Arquivo CSV

In [3]:
file = './dataApr-1-2019.csv'
file1 = pandas.read_csv(file, sep=';')
file1.head(5)

,client_id,username,email_client,phone_client,product_value,discount
0,1000,Cynthia Renee,nulla@sitametconsectetuer.co.uk,(051) 702-7535,75.82,66
1,1001,Kevin Zahir,Cras@justosit.org,(282) 366-4062,44.54,23
2,1002,Marvin Tucker,nec@nislsemconsequat.net,(059) 080-6768,17.12,74
3,1003,Olympia Blake,malesuada@at.edu,(928) 633-3253,6.15,33
4,1004,Wallace Ethan,sem.molestie@urnasuscipit.net,(994) 324-9907,99.76,49

## tratamento dos dados do primeiro arquivo

In [4]:
file1['valor_com_desconto'] = (file1['product_value'].apply(lambda x : float(x)) - file1['discount'].apply(lambda x : float(x)))
file1['phone_client'] = file1['phone_client'].apply(lambda x : tratamentoTelefone(x))
file1['product_value'] = file1['product_value'].apply(lambda x : tratamentoValor(x))
file1['discount'] = file1['discount'].apply(lambda x : tratamentoValor(x))
file1['valor_com_desconto'] = file1['valor_com_desconto'].apply(lambda x : tratamentoValor(x))
file1.columns = defaultColumns
file1.head(5)

,id,name,email,phone,value,discount,valor_com_desconto
0,1000,Cynthia Renee,nulla@sitametconsectetuer.co.uk,+550517027535,"R$ 75,82","R$ 66,00","R$ 9,82"
1,1001,Kevin Zahir,Cras@justosit.org,+552823664062,"R$ 44,54","R$ 23,00","R$ 21,54"
2,1002,Marvin Tucker,nec@nislsemconsequat.net,+550590806768,"R$ 17,12","R$ 74,00","R$ -56,88"
3,1003,Olympia Blake,malesuada@at.edu,+559286333253,"R$ 6,15","R$ 33,00","R$ -26,85"
4,1004,Wallace Ethan,sem.molestie@urnasuscipit.net,+559943249907,"R$ 99,76","R$ 49,00","R$ 50,76"

## Import do segundo arquivo
Arquivo do google spreadsheet

### Download do arquivo

In [5]:
## importação do google spreasheet API

### Leitura do arquivo CSV

In [6]:
file = './Teste importador - usuarios.csv'
file2 = pandas.read_csv(file, sep=',')
file2.head()

,id,nome,email,telefone,valor,desconto
0,8056,Nia Nickle,noodles@sbcglobal.net,555919295629,45.45,35
1,8094,Charisse Baltes,heine@aol.com,NaN,"45,44",12
2,8087,Shaunna Myers,tezbo@yahoo.ca,(426) 296-8278,7,45
3,8019,Del Mayorga,aukjan@icloud.com,(264) 385-2009,"45,44",-
4,8027,Kandis Marchan,lstein@mac.com,(209) 620-1483,10009,8

## tratamento dos dados do segundo arquivo

In [7]:
file2['valor_com_desconto'] = (file2['valor'].apply(lambda x : validaCastNumerico(x)) - file2['desconto'].apply(lambda x : validaCastNumerico(x)))
file2['telefone'] = file2['telefone'].mask(pandas.isnull, '')
file2['telefone'] = file2['telefone'].apply(lambda x : (tratamentoTelefone(x) if not x == numpy.nan else ''))
file2['valor'] = file2['valor'].apply(lambda x : tratamentoValor(x))
file2['desconto'] = file2['desconto'].apply(lambda x : tratamentoValor((x if str(x).isdigit() else 0)))
file2['valor_com_desconto'] = file2['valor_com_desconto'].apply(lambda x : tratamentoValor(x))
file2.columns = defaultColumns
file2.head(5)

,id,name,email,phone,value,discount,valor_com_desconto
0,8056,Nia Nickle,noodles@sbcglobal.net,+55555919295629,"R$ 45,45","R$ 35,00","R$ -35,00"
1,8094,Charisse Baltes,heine@aol.com,+55,"R$ 45,44","R$ 12,00","R$ -12,00"
2,8087,Shaunna Myers,tezbo@yahoo.ca,+554262968278,"R$ 7,00","R$ 45,00","R$ -38,00"
3,8019,Del Mayorga,aukjan@icloud.com,+552643852009,"R$ 45,44","R$ 0,00","R$ 0,00"
4,8027,Kandis Marchan,lstein@mac.com,+552096201483,"R$ 10009,00","R$ 8,00","R$ 10001,00"

## Import do terceiro arquivo
Arquivo XML

In [8]:
file = './dataApr-1-2019 2.xml'

def getvalueofnode(node):
    return node.text if node is not None else None
 
parsed_xml = et.parse(file)
dfcols = ['user_id','name','email_user','phone','buy_value']
file3 = pandas.DataFrame(columns=dfcols)

for node in parsed_xml.getroot():
    user_id = node.find('user_id')
    name = node.find('name')
    email_user = node.find('email_user')
    phone = node.find('phone')
    buy_value = node.find('buy_value')

    file3 = file3.append(
        pandas.Series([getvalueofnode(user_id),
                   getvalueofnode(name), 
                   getvalueofnode(email_user),
                   getvalueofnode(phone),
                   getvalueofnode(buy_value)], index=dfcols),
        ignore_index=True)
file3.head()

,user_id,name,email_user,phone,buy_value
0,1,Channing Hayden,cursus.et.magna@Nullamsuscipitest.ca,722 144-4062,96.55
1,2,Baker Alea,dapibus@scelerisque.co.uk,851 730-0472,93.61
2,3,Jack Kylie,dictum.Proin@necenim.net,298 821-4445,23.42
3,4,Edan Jayme,Vivamus.nibh.dolor@a.edu,123 288-9428,78.24
4,5,Hanna Kaitlin,dui@nisl.net,726 755-3600,4.17

## tratamento dos dados do terceiro arquivo

In [9]:
file3['valor_com_desconto'] = (file3['buy_value'].apply(lambda x : float(x)))
file3['phone'] = file3['phone'].apply(lambda x : tratamentoTelefone(x))
file3['buy_value'] = file3['buy_value'].apply(lambda x : tratamentoValor(x))
file3['valor_com_desconto'] = file3['valor_com_desconto'].apply(lambda x : tratamentoValor(x))
file3['discount'] = 'R$ 0.00'
file3.columns = ['id', 'name', 'email', 'phone', 'value', 'valor_com_desconto', 'discount']
file3.head(5)

,id,name,email,phone,value,valor_com_desconto,discount
0,1,Channing Hayden,cursus.et.magna@Nullamsuscipitest.ca,+557221444062,"R$ 96,55","R$ 96,55",R$ 0.00
1,2,Baker Alea,dapibus@scelerisque.co.uk,+558517300472,"R$ 93,61","R$ 93,61",R$ 0.00
2,3,Jack Kylie,dictum.Proin@necenim.net,+552988214445,"R$ 23,42","R$ 23,42",R$ 0.00
3,4,Edan Jayme,Vivamus.nibh.dolor@a.edu,+551232889428,"R$ 78,24","R$ 78,24",R$ 0.00
4,5,Hanna Kaitlin,dui@nisl.net,+557267553600,"R$ 4,17","R$ 4,17",R$ 0.00

## Juntando os e dataframes em um só

In [12]:
dataSetCompleto = pandas.concat([file1, file2, file3], sort=False)
dataSetCompleto.head(1000)

,id,name,email,phone,value,discount,valor_com_desconto
0,1000,Cynthia Renee,nulla@sitametconsectetuer.co.uk,+550517027535,"R$ 75,82","R$ 66,00","R$ 9,82"
1,1001,Kevin Zahir,Cras@justosit.org,+552823664062,"R$ 44,54","R$ 23,00","R$ 21,54"
2,1002,Marvin Tucker,nec@nislsemconsequat.net,+550590806768,"R$ 17,12","R$ 74,00","R$ -56,88"
3,1003,Olympia Blake,malesuada@at.edu,+559286333253,"R$ 6,15","R$ 33,00","R$ -26,85"
4,1004,Wallace Ethan,sem.molestie@urnasuscipit.net,+559943249907,"R$ 99,76","R$ 49,00","R$ 50,76"
5,1005,Colby Aline,ornare.sagittis@montesnascetur.net,+559688590017,"R$ 37,98","R$ 37,00","R$ 0,98"
6,1006,Carla Emerald,Suspendisse.aliquet@nonmassa.edu,+555848087730,"R$ 66,84","R$ 97,00","R$ -30,16"
7,1007,Imogene Briar,sed.turpis@nonvestibulumnec.org,+559578525089,"R$ 34,16","R$ 64,00","R$ -29,84"
8,1008,Haviva Yoshi,in@consectetueradipiscingelit.edu,+552913217760,"R$ 67,18","R$ 57,00","R$ 10,18"
9,1009,Winter Honorato,enim.Mauris.quis@elitAliquamauctor.co.uk,+550525019786,"R$ 88,89","R$ 79,00","R$ 9,89"
10,1010,Gray Idola,congue.In@Fuscealiquam.com,+555056209686,"R$ 54,27","R$ 97,00","R$ -42,73"
11,1011,Sawyer Angela,libero.dui.nec@acturpisegestas.co.uk,+551526867824,"R$ 47,56","R$ 77,00","R$ -29,44"
12,1012,Hilel Nyssa,purus@risus.com,+558272359672,"R$ 47,49","R$ 65,00","R$ -17,51"
13,1013,Nicole Kareem,ante.iaculis@interdum.co.uk,+554129589152,"R$ 21,49","R$ 73,00","R$ -51,51"
14,1014,Clio Alfonso,luctus.et@leoelementum.edu,+555963224153,"R$ 62,02","R$ 52,00","R$ 10,02"
15,1015,Anastasia Ahmed,Donec.non.justo@eratSed.org,+557999268828,"R$ 95,22","R$ 18,00","R$ 77,22"
16,1016,Gabriel Nicholas,Curabitur@tempordiamdictum.net,+556202063879,"R$ 5,60","R$ 72,00","R$ -66,40"
17,1017,Angela Vernon,non.bibendum@vitae.ca,+559933327608,"R$ 61,74","R$ 25,00","R$ 36,74"
18,1018,Janna Tate,purus@ipsum.net,+554943714705,"R$ 66,90","R$ 83,00","R$ -16,10"
19,1019,Lynn Christine,tellus.Aenean@nibh.com,+554845946191,"R$ 49,86","R$ 63,00","R$ -13,14"
20,1020,Blair Dexter,Mauris@aliquamarcu.org,+553363254822,"R$ 82,99","R$ 90,00","R$ -7,01"
21,1021,Brenna Sean,semper.et.lacinia@sitamet.net,+552463141191,"R$ 15,38","R$ 1,00","R$ 14,38"
22,1022,Jared Clark,dolor.Fusce.mi@nullaIn.net,+556787619317,"R$ 84,07","R$ 28,00","R$ 56,07"
23,1023,Kadeem Hedy,sit@disparturient.edu,+559079539678,"R$ 63,41","R$ 31,00","R$ 32,41"
24,1024,Quyn Phyllis,quam@egestasnunc.org,+555860134901,"R$ 55,53","R$ 45,00","R$ 10,53"
25,1025,Audrey Travis,Maecenas.ornare.egestas@nasceturridiculusmus.com,+552292058656,"R$ 70,12","R$ 42,00","R$ 28,12"
26,1026,Jason Louis,fringilla.Donec@mauris.co.uk,+555233263033,"R$ 81,51","R$ 53,00","R$ 28,51"
27,1027,Uta Kylee,id.nunc.interdum@facilisiSed.net,+555089652989,"R$ 71,49","R$ 10,00","R$ 61,49"
28,1028,Nell Ivana,id.blandit@malesuadaInteger.edu,+555101373934,"R$ 67,47","R$ 24,00","R$ 43,47"
29,1029,Tiger Edan,ante.dictum@nonarcu.edu,+553146216707,"R$ 20,18","R$ 11,00","R$ 9,18"
...,...,...,...,...,...,...,...
70,71,MacKensie Emi,amet.lorem.semper@enim.com,+559337663912,"R$ 66,59",R$ 0.00,"R$ 66,59"
71,72,Ocean Kennedy,Morbi.quis@arcuAliquamultrices.ca,+553864932419,"R$ 73,51",R$ 0.00,"R$ 73,51"
72,73,Sara Jennifer,lectus@Quisqueporttitor.org,+551944676354,"R$ 41,11",R$ 0.00,"R$ 41,11"
73,74,Craig Katelyn,tellus@luctussit.edu,+552305587304,"R$ 23,33",R$ 0.00,"R$ 23,33"
74,75,James Hamish,fringilla.est@cursuset.co.uk,+553677508785,"R$ 69,74",R$ 0.00,"R$ 69,74"
75,76,Darrel Iola,mauris.rhoncus.id@atarcu.org,+553073353875,"R$ 45,97",R$ 0.00,"R$ 45,97"
76,77,Nero Molly,non@egestasa.co.uk,+552266511614,"R$ 12,44",R$ 0.00,"R$ 12,44"
77,78,Tasha Brianna,tincidunt.congue.turpis@semeget.com,+558396110994,"R$ 22,50",R$ 0.00,"R$ 22,50"
78,79,Denton Kristen,natoque.penatibus.et@Integer.ca,+554495942907,"R$ 53,35",R$ 0.00,"R$ 53,35"
79,80,Dante Brenna,amet.ornare.lectus@ante.org,+551209182346,"R$ 72,91",R$ 0.00,"R$ 72,91"
80,81,Lynn Ahmed,sed.sapien@estNunc.com,+555208406975,"R$ 33,72",R$ 0.00,"R$ 33,72"
81,82,Timothy Holmes,mollis.Duis.sit@pellentesque.edu,+555570338592,"R$ 85,45",R$ 0.00,"R$ 85,45"
82,83,Indigo Nichole,auctor.odio@vestibulumneque.org,+559063751301,"R$ 99,32",R$ 0.00,"R$ 99,32"
83,84,Gabriel Xavier,arcu@natoque.ca,+555832458887,"R$ 69,65",R$ 0.00,"R$ 69,65"
84,85,Cruz Yoshio,semper@velit.edu,+552621849435,"R$ 86,00",R$ 0.00,"R$ 86,00"
85,86,Asher Hamish,Cras.sed.leo@vulputateeu.co.uk,+555189053641,"R$ 6,13",R$ 0.00,"R$ 6,13"
86,87,Colton Jasper,vitae.sodales@elitpretium.co.uk,+553579937651,"R$ 15,18",R$ 0.00,"R$ 15,18"
87,88,Rina Reed,dui.quis@nunc.edu,+554481499802,"R$ 30,65",R$ 0.00,"R$ 30,65"
88,89,Tanek Gail,mauris.sapien@urna.ca,+551122469242,"R$ 47,82",R$ 0.00,"R$ 47,82"
89,90,Pandora Berk,interdum.Sed.auctor@eutellus.edu,+552544975579,"R$ 93,63",R$ 0.00,"R$ 93,63"
90,91,Shana Geraldine,venenatis.a@ametnulla.ca,+558539984504,"R$ 35,37",R$ 0.00,"R$ 35,37"
91,92,Baxter Heather,Aliquam.nisl@gravidanuncsed.edu,+557268418477,"R$ 76,19",R$ 0.00,"R$ 76,19"
92,93,Marah Nomlanga,blandit@sollicitudinorci.co.uk,+552596884945,"R$ 17,99",R$ 0.00,"R$ 17,99"
93,94,Porter Ava,Aliquam.adipiscing.lobortis@Sednulla.ca,+559491973729,"R$ 38,73",R$ 0.00,"R$ 38,73"
94,95,Wing Sophia,Nulla.aliquet@erosNam.com,+555031091798,"R$ 75,03",R$ 0.00,"R$ 75,03"
95,96,Palmer Lucas,tincidunt@vulputate.com,+557938271680,"R$ 64,31",R$ 0.00,"R$ 64,31"
96,97,Medge Garrison,at@euodioPhasellus.co.uk,+552642873845,"R$ 59,14",R$ 0.00,"R$ 59,14"
97,98,Alfreda Veronica,Maecenas.libero.est@nunc.com,+556236397032,"R$ 12,26",R$ 0.00,"R$ 12,26"
98,99,Buffy Angelica,ipsum@Maecenas.net,+553105702421,"R$ 1,70",R$ 0.00,"R$ 1,70"
99,100,Zachery Magee,faucibus@Namconsequatdolor.com,+550823723422,"R$ 54,85",R$ 0.00,"R$ 54,85"

## Inserindo os dados em arquivo CSV

In [13]:
dataSetCompleto.to_csv(path_or_buf='./exportacao.csv',sep=';', index=False)